@mixin round-button(
	$expand: false,
	$background: $button-background,
	$background-hover: $button-background-hover,
	$color: $button-color,
	$style: $button-fill
) {
	@include button(
			$expand: $expand,
			$background: $background,
			$background-hover: $background-hover,
			$color: $color,
			$style: $style
	);
	border-radius: 20px;
	padding: rem-calc(12 40);
	font-family: $body-font-family;
	font-weight: bold;
}

.round-button, .button {
	@include round-button;

	&.small {
		font-size: rem-calc(13);
		padding: rem-calc(4 11);
	}

	&.isnt-margin {
		margin-bottom: 0;
	}
}

p > .round-button {
	margin: 0 0 0 rem-calc(22);
}

.badge {
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: rem-calc(18);
	font-size: rem-calc(9);
	background-color: $primary-color;
	border-radius: 50%;
	color: #fff;
	font-weight: bolder;
	margin-right: 4px;
}
