.c-section {
	padding-top: 15px;
	padding-bottom: 15px;

	@include breakpoint(medium) {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	&.is-grey {
		background-color: #fafafa;
	}

	&.is-emphasize {
		padding-top: 30px;
		padding-bottom: 30px;

		@include breakpoint(medium) {
			padding-top: 70px;
			padding-bottom: 70px;
		}
	}
}

.c-section--top {
	padding-top: 15px;

	@include breakpoint(medium) {
		padding-top: 25px;
	}
}