.c-social-media {
	display: flex;

	.social-media__icon {
		position: relative;
		transition: .3s ease;

		&:hover {
			opacity: .8;
		}

	}

	.social-media__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.social-media__text {
	}
}

.c-social-media--default {
	.social-media__icon {
		margin-right: 17px;
		width: 30px;
		height: 30px;

		&.is-facebook {
			background-image: url('../images/icons/facebook.svg');
		}

		&.is-insta {
			background-image: url('../images/icons/insta.svg');
		}

		&.is-youtube {
			background-image: url('../images/icons/youtube.svg');
		}
	}
}

.c-social-media--footer {
	align-items: center;

	.social-media__icon {
		margin-right: 10px;
		width: 31px;
		height: 31px;
		background-size: cover;

		&.is-insta {
			background-image: url('../images/icons/footericon-in.svg');
		}

		&.is-youtube {
			background-image: url('../images/icons/footer-icon-yt.svg');
		}

		&.is-facebook {
			background-image: url('../images/icons/footericon-fb.svg');
		}
	}

	.social-media__text {
		margin-right: 34px;
		font-weight: bold;
		font-family: $header-font-family;
		font-size: 18px;
	}
}