@mixin fade-title {
	background-image: linear-gradient(to right, #94c558, rgba(65, 147, 33, 0.0));
	color: #fff;
	margin: 0;
	display: block;
	padding: rem-calc(8 23);
	font-size: rem-calc(24);
}

@mixin fade-content {
	background-image: linear-gradient(to right, rgba(148, 197, 88, 0.3), rgba(65, 147, 33, 0.0));
	padding: rem-calc(19 23);
	font-size: 13px;
	line-height: 1.5;
	color: #484848;
	margin-bottom: 1px;
}

.fade-title {
	@include fade-title;

	h4.heading {
		margin-bottom: 0;
	}
}

.fade-content {
	@include fade-content;
}