.sc-icon {
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: rem-calc(20px);

	$icons: catering, contact, question;

	@each $icon in $icons {
		&.#{$icon} {
			background-image: url('../images/icons/#{$icon}.svg');
		}
	}
}

.icon-line {
	display: flex;
	align-items: center;
	margin-bottom: rem-calc(14);

	.button {
		margin-bottom: 0;
	}
}