//p {
//  font-weight: 300;
//  letter-spacing: rem-calc(.2);
//}

.heading {
	&.aligncenter {
		text-align: center;
	}

	@each $name, $color in $foundation-palette {
		&.#{$name} {
			color: $color
		}
	}
}

section.container {
	.checkmark ul {
		list-style-image: url('../images/haken.svg');
		margin-left: 2em;

		li {
			padding-left: 1em;
			line-height: 2.5em;
		}
	}
}
