.c-badge {
	background-color: $primary-color;
	padding: 3px;
	text-transform: uppercase;
	display: inline-block;
	margin-left: 8px;
	color: #fff;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
}