@mixin round-button(
	$expand: false,
	$background: $button-background,
	$background-hover: $button-background-hover,
	$color: $button-color,
	$style: $button-fill
) {
	@include button(
			$expand: $expand,
			$background: $background,
			$background-hover: $background-hover,
			$color: $color,
			$style: $style
	);
	border-radius: 20px;
	padding: rem-calc(12 40);
	font-family: $body-font-family;
	font-weight: bold;
}

.c-form {
	input[type='submit'] {
		@include round-button(true, $button-background-hover);
		text-transform: uppercase;
		letter-spacing: .2rem;
	}

	p:empty, br {
		display: none;
	}

	.wpcf7-not-valid-tip {
		padding: 5px 0 0;
		color: $alert-color;
		margin-bottom: 1em;
	}

	.wpcf7-response-output {
		border: 0;
		color: $alert-color;
		padding: 0;
		margin: 0 0 2em;
	}
}

.c-form--front {
	background: #f3f3f3;
	border: 1px solid #dfdfdf;
	padding: 20px;
	letter-spacing: 0;

	@include breakpoint(medium) {
		padding: 60px 90px;
	}

	input[type='text'], input[type='email'], input[type='tel'] {
		height: 50px;
		padding: rem-calc(17 20);

		&.wpcf7-not-valid {
			border: 1px solid $input-error-color;
		}
	}

	textarea {
		margin-bottom: 1.4rem !important;
	}

	.form__label {
		font-family: $header-font-family;
		font-size: 18px;
		color: #484848;
		padding-bottom: 10px;
		font-weight: bold;
		line-height: 1;
	}

	.form__col {
		&.is-shrink {
			.wpcf7-form-control {
				margin-bottom: 0;
			}
		}
	}

	.form__row {
		margin-bottom: 30px;
	}

	.form__input {
		padding-bottom: 10px;
	}

	.form__submit {
		margin-top: 23px;
	}

	.form__submit-wrapper {
		margin-top: 45px;
	}

	.wpcf7-radio {
		display: flex;

		.wpcf7-list-item {
			margin: 0;
		}

		input[type="radio"] {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;

			&:checked {
				~ .wpcf7-list-item-label {

					&::before {
						background: orange;
					}
				}
			}
		}

		.wpcf7-list-item-label {
			padding-left: 30px;
			position: relative;
			display: inline-block;
			margin-right: 10px;
			font-weight: bold;
			font-family: $header-font-family;
			padding-bottom: 1.4rem;

			&::before {
				display: block;
				position: absolute;
				left: 0;
				content: '';
				background: #ffffff;
				width: 21px;
				height: 21px;
				border-radius: 100%;
				border: 5px solid #fff;
			}
		}
	}

	.wpcf7-recaptcha {
		transform-origin: 0;
	}

	.hasDatepicker {
		background-image: url('../images/calendar-icon.png');
		background-position: right 13px center;
		background-repeat: no-repeat;
	}
}

.c-form--contact {
	input, textarea {
		border: 1px solid #cecece;
	}

	.wpcf7-recaptcha {
		margin-bottom: 2em;
	}
}