.c-slider {

	.slick-arrow {
		background-color: map_get($foundation-palette, primary);
		width: 35px;
		height: 35px;
		border-radius: 25px;
		z-index: 1;

		&:before {
			font-size: 35px;
			font-family: $header-font-family;
			margin-top: -8px;
			display: block;
		}
	}

	.slick-prev {
		left: 20px;

		&:before {
			content: '‹';
		}
	}

	.slick-next {
		right: 20px;

		&:before {
			content: '›';
		}
	}

}

.c-slider--stage {

	.slick-slider {
		margin-bottom: 0;
	}

	.slider__item {
		width: 100%;
		height: 370px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 3px;
		background-position: center;
		background-size: cover;
	}

	.slider__text {
		font-size: 56px;
		color: #ffffff;
	}

	.slick-dots {
		bottom: 20px;

		> li {
			width: 16px;
			height: 16px;

			&.slick-active {
				> button {
					background-color: #fff;
				}
			}

			> button {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background: rgba(#fff, .4);

				&::before {
					display: none;
				}
			}
		}
	}

	.slick-slide img {
		width: 100%;
	}
}

.c-slider--bus {
	.slick-list {
		@include breakpoint("medium") {
			margin: 0 100px;

		}
	}

	.slick-slide {
		padding: 20px;
		text-align: center;

		a:first-child {
			display: flex;
			min-height: 120px;
			align-items: center;
		}

		img {
			width: 100%;
		}
	}

	.slick-dots {
		> li {
			width: 13px;
			height: 13px;

			&.slick-active {
				> button {
					background-color: $primary-color;
				}
			}

			> button {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background: lighten($primary-color, 20%);

				&::before {
					display: none;
				}
			}
		}
	}

	.erstellbar-slides-title {
		font-family: $header-font-family;
		color: $header-color;
		font-weight: bold;
		font-size: 18px;
		min-height: 50px;
		margin-top: 20px;
	}

	.slider__vehicle-seating {
		font-weight: bold;
		display: inline-block;
	}
}

.c-slider--vehicle {
	background-image: none;
	margin-bottom: 2em;

	.slick-arrow {
		background-color: transparent;
		width: 45px;
		height: 45px;
		border-radius: 25px;
		z-index: 1;

		&.slick-prev {
			left: -10px;

			&:before {
				content: '‹';
			}
		}

		&.slick-next {
			right: -10px;

			&:before {
				content: '›';
			}
		}

		&:before {
			font-size: 45px;
			font-family: $body-font-family;
			margin-top: -8px;
			display: block;
		}
	}

	.vehicle-slide {
		outline: none;
	}

	.slick-dots {
		bottom: 15px;
		> li {
			width: 13px;
			height: 13px;

			&.slick-active {
				> button {
					background-color: #DEF3BD;
				}
			}

			> button {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background: #FFFEFD;

				&::before {
					display: none;
				}
			}
		}
	}
}