.c-teaser {

}

.c-teaser--bus {
	h3 {
		margin-top: 35px;
		font-size: 22px;
		font-weight: bold;

		&::after {
			margin-top: 10px;
			display: block;
			content: '';
			width: 100%;
			height: 3px;
			background-color: $body-font-color;
		}
	}

	p {
		font-family: 'Merriweather', sans-serif;
	}
}