.b-floating-button {
	display: none;

	@include breakpoint(medium) {
		display: block;
		position: fixed;
		top: 70%;
		right: 0;
		background: #F5A623;
		box-shadow: 0 3px 0 0 #FFCE7D;
		border-radius: 50px 0 0 50px;
		font-family: $header-font-family;
		font-weight: bold;
		text-transform: uppercase;

		.floating-button__anchor {
			padding: 10px 20px;
			display: block;
			color: #fff;
			line-height: 1;
			font-size: 18px;
		}
	}
}