.b-header {

	.b-header__logo {
		background: url('../images/Logo.svg') no-repeat;
		background-size: contain;
		position: relative;
		width: 221px;
		max-height: 37px;
		height: 100%;
		transition: height .5s ease;
		margin-bottom: 15px;

		a {
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
		}

		@include breakpoint(medium) {
			margin-right: 55px;
			margin-left: 0;
			margin-bottom: 0;
		}
	}

	.b-header__navigation {
		width: 100%;
		background-color: rgba(255, 255, 255, 0.9);
		box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	}

	.b-header__navigation__wrapper {
		@include grid-col-row();
		@include grid-col();
		height: 150px;
		display: flex;
		align-items: center;

		@include breakpoint(medium down) {
			flex-direction: column;
			justify-content: center;
		}
	}

	.b-header__hamburger {
		@include hamburger($width: 25px, $height: 20px, $weight: 3px);
		order: 1;
		align-self: flex-start;

		@include breakpoint(large) {
			display: none;
			order: 0;
			align-self: auto;
		}
	}
}

/*
Global Modifiers
----------------------- */
.is-scrolled {
	.b-header__navigation {
		position: fixed;
		top: 0;
		z-index: 9;
	}

	.b-header__navigation__wrapper {
		height: 100px;
		transition: .5s ease;

		@include breakpoint(medium down) {
			height: 60px;
			flex-direction: row;
			justify-content: flex-start;
		}
	}

	.b-header__logo {
		margin-bottom: 0;

		@include breakpoint(medium down) {
			margin-left: 30px;
			height: 30px;
			transition: height .5s ease, margin-left .5s ease;
		}
	}

	.b-header {
		margin-top: 150px;
	}

	.b-header__hamburger {
		@include breakpoint(medium down) {
			order: 0;
			align-self: auto;
		}
	}
}


/* Mobile menu */

.off-canvas {
	> ul.menu {
		list-style: none;
		margin: 0;
		height: 100vh;
		padding: 1rem;

		li>a {
			display: block;
			padding: rem-calc(5);
			border-bottom: 1px solid #ccc;
		}
	}
}