.b-navigation {
	display: none;

	@include breakpoint(large) {
		display: flex;
		justify-content: space-between;
		margin: 0;
		flex-grow: 1;
	}

	.menu-item {
		list-style: none;
		font-size: rem-calc(18);
		font-family: $header-font-family;
		font-weight: bold;
		text-align: center;

		a {
			color: #75A63A;
		}

		&.is-border {
			a {
				border: 2px solid #75A63A;
				border-radius: 99px;
				padding: 5px 18px;

				&:hover {
					border-color: #80B63D;
					background-color: #80B63D;
					color: #fff;
				}
			}
		}

		// Hide link when its an social media submenu
		&.is-social-media-list {
			flex-basis: 150px;
			> a {
				display: none;
			}
		}

		&.is-social-media {
			flex-basis: 32px;
			width: 32px;
			height: 32px;
			font-size: 0;
			background-repeat: no-repeat;
			background-size: contain;
			position: relative;

			a {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
		}

		&.is-facebook-icon {
			background-image: url('../images/icons/icon-facebook.svg');
		}

		&.is-ig-icon {
			background-image: url('../images/icons/icon-instagram.svg');
		}

		&.is-yt-icon {
			background-image: url('../images/icons/icon-youtube.svg');
		}
	}

	.b-navigation__sub {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		font-size: 0;
	}
}