#footer-container {
	font-family: $header-font-family;
	font-weight: bold;
	font-size: 16px;
	line-height: 23px;
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	//border-top: 1px solid #ccc;
	margin-top: rem-calc(60);
	background: #DDDDDD;

	.footer__logo {
		margin-bottom: 40px;
	}

	section#before-footer {
		@include grid-row();
		padding: rem-calc(50) 0;

		.fl-builder-content {
			color: #484848;
			line-height: 1.8;
		}
	}

	.widget_nav_menu {

		ul {
			margin-left: 0;
		}

		li {
			list-style: none;

			&::before {
				content: '›';
				display: inline;
				padding-right: 5px;
				//line-height: rem-calc(24);
			}

			&.is-gap {
				margin-bottom: rem-calc(14px);
			}
		}

		a {
			color: #484848;
		}
	}
}

#bottom-footer-container {

	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	background-color: #dcf0c3;

	#footer {
		@include grid-row();
		padding: rem-calc(40) 0;
		text-align: center;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		.footer-nav {
			display: inline-block;
			@include breakpoint(medium) {
				margin-top: rem-calc(40);
				@include menu-base;
			}
			font-size: rem-calc(18);

		}

	}
}
