.logo {
	width: 270px;
	height: 47px;
	background: url('../images/Logo.svg') no-repeat center center;
	background-size: contain;
	position: relative;
	margin: 0 auto;

	@include breakpoint(medium) {
		margin: 0;
	}

	a {
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
	}
}

.hamburger-menu {
	@include hamburger($width: 25px, $height: 20px, $weight: 3px);

	@include breakpoint(medium) {
		display: none;
	}
}

.title-bar {
	@include flex-grid-row();
	@include flex-grid-column();
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 18px;

	.skyline {
		background-image: url('../images/skyline.svg');
		width: 868px;
		height: 124px;
		display: none;

		@include breakpoint(medium) {
			display: block;
		}
	}
}

/* Mobile menu */

.off-canvas {
	> ul.menu {
		list-style: none;
		margin: 0;
		height: 100vh;
		padding: 1rem;

		li > a {
			display: block;
			padding: rem-calc(5);
			border-bottom: 1px solid #ccc;
		}
	}
}

.title-bar-title {
	a {
		font-size: 1rem;
		color: #B9B9B9;
	}
}

header#masthead {
	//@include grid-col-row();
}

nav#site-navigation {
	//padding: ((rem-calc(100) - 1.5rem)/2) 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);

	.top-bar {
		@include flex-grid-row();
		@include flex-grid-column();
		align-items: center;
		height: 114px;

		@include breakpoint(small only) {
			justify-content: space-between;
			height: 60px;
		}
	}

	.logo {
		display: none;
		width: 150px;
		text-align: center;
		margin-left: 20px;

		@include breakpoint(medium) {
			width: 217px;
			text-align: left;
			margin-right: rem-calc(40);
		}
	}

	ul.desktop-menu {
		font-size: rem-calc(18);
		display: flex;
		font-family: $header-font-family;
		font-weight: bold;
		margin: 0;
		list-style: none;

		li {
			margin-right: 62px;

			&:last-of-type {
				margin-right: 0;
			}
		}

		a {
			color: #75a63a;
			padding: 5px 18px;

			&:hover {
				color: #94c558;
			}

		}

		li.is-border {
			border: 2px solid $primary-color;
			border-radius: 100px;
		}

		li.active {
			a {
				background-color: #94c558;
				color: #fff;
				border-radius: 2px;
			}

			&.is-border {
				background-color: #94c558;

				a {
					border-radius: 100px;
				}
			}
		}

		li:first-child a {
			margin-left: 0;
		}

		@include breakpoint(small only) {
			display: none;
		}
	}

	.switch {
		margin-left: auto;
	}
}

.scrolled {

	.title-bar {
		margin-bottom: 114px;
	}

	nav#site-navigation {

		.logo {
			display: inline-block;
			@include mui-animation(fade, slide(in, down));
			animation-duration: .5s;
		}

		position: fixed;
		width: 100%;
		top: 0;
		background-color: rgba(#fff, .9);
		z-index: 9;
		transition: .3s;
	}
}
