
h3.newsflash-title {
	@include fade-title;
}

.news {
	@include fade-content;

	.newsflash-news-title {
		display: none;
	}

	a.read-more {
		padding: rem-calc(4 11);
		margin: 0;
		font-size: rem-calc(13);
	}
}