.erstellbar-slider {
	background-image: linear-gradient(to right, rgba(148, 197, 88, 0.1), rgba(148, 197, 88, 0.0));

	.slick-arrow {
		background-color: map_get($foundation-palette, primary);
		width: 45px;
		height: 45px;
		border-radius: 25px;
		z-index: 1;

		&:before {
			font-size: 45px;
			font-family: $body-font-family;
			margin-top: -8px;
			display: block;
		}
	}

	.slick-prev {
		left: 20px;

		&:before {
			content: '‹';
		}
	}

	.slick-next {
		right: 20px;

		&:before {
			content: '›';
		}
	}

	.erstellbar-slides {
		padding-top: rem-calc(40);
		text-align: center;
		padding-bottom: rem-calc(30);

		img {
			display: inline-block;
			max-width: 400px;
			max-height: 120px;

			@include breakpoint(small only) {
				max-width: 80%;
			}
		}

		.erstellbar-slides-title {
			text-align: center;
			font-size: rem-calc(24);
			color: map_get($foundation-palette, primary);
			margin-bottom: 3px;
			margin-top: 5px;
		}

		.vehicle-seating {
			font-size: rem-calc(15);
			color: map_get($foundation-palette, primary);
			font-family: 'Merriweather', sans-serif;
		}
	}
}
