#page-fleet {
	margin-top: rem-calc(82);

	.fast-finish {
		.round-button {
			padding: rem-calc(6 14);
			margin-bottom: 0;
		}
	}
}

.fleet-main-title {
	font-size: rem-calc(24);
}

section.fleet {
	@include grid-row();

	.vehicle-content {
		@each $gutter, $size in $grid-column-gutter {
			padding: $size/2;
		}
		padding-bottom: 30px;

		.vehicle-image {
			img {
				max-height: 70px;
			}
		}
	}

	.vehicle-slider {
		background-image: none;
		margin-bottom: 2em;

		.slick-arrow {
			background-color: transparent;

			&.slick-prev {
				left: -10px;
			}

			&.slick-next {
				right: -10px;
			}
		}

		.vehicle-slide {
			outline: none;
		}

		.slick-dots {
			bottom: 15px;
			> li {
				width: 13px;
				height: 13px;

				&.slick-active {
					> button {
						background-color: #DEF3BD;
					}
				}

				> button {
					width: 100%;
					height: 100%;
					border-radius: 50%;
					background: #FFFEFD;

					&::before {
						display: none;
					}
				}
			}
		}
	}

	.vehicle-title {
		text-align: center;
		font-size: rem-calc(18);
		color: map_get($foundation-palette, primary);
		margin-bottom: 3px;
		margin-top: 5px;
	}

	.vehicle-seating {
		font-size: rem-calc(15);
		color: map_get($foundation-palette, primary);
		font-family: 'Merriweather', sans-serif;
	}

	ul.vehicles {
		//@include grid-column(12);
		list-style: none;
		font-size: 0;
		margin: 0;

		li.vehicle {
			width: 100%;
			font-size: $global-font-size;

			@include breakpoint(medium) {
				width: 50%;
			}

			@include breakpoint(large) {
				width: 25%;
			}
			//
			//@include breakpoint(large) {
			//  width: 24%;
			//}

			display: inline-block;
			margin: 0;
			text-align: center;
			min-height: 150px;
			vertical-align: top;
			cursor: pointer;

			&.is-expanded {
				ul.submenu {
					width: 1200px;
					max-height: 2000px;
					@include mui-animation(fade);
					animation-duration: 1s;
					//transition: max-height 1s ease-in;
				}

				.vehicle-content {
					background: url('../images/triangle.svg') no-repeat bottom center;
					background-size: 20px 16px;
				}
			}

			ul.submenu {
				text-align: left;
				margin: 0;
				list-style: none;
				overflow: hidden;
				max-height: 0;
				transition: max-height .5s ease-in;

				.animation-frame {
					display: block;
					width: 100%;
					background-color: #f0f0f0;
					padding: rem-calc(20);

					@include breakpoint(medium) {
						padding: rem-calc(55);
					}
				}

				.live-photo {
					margin-bottom: 2em;
				}

				.vehicle-title {
					text-align: left;
					font-size: rem-calc(52);
					margin-bottom: rem-calc(90);
				}

				.round-button {
					margin-top: rem-calc(100px);
				}
			}
		}
	}
}

section#trailer {
	@include grid-row();
	margin-top: 3em;

	.trailer-container {
		background-color: #dcf0c3;
		display: flex;
		justify-content: space-between;
		max-width: rem-calc(570);

		.trailer {
			text-align: center;
			.trailer-title {
				font-size: 24px;

				span {
					display: inline-block;
					width: 23px;
					height: 23px;
					border-radius: 50%;
					background-color: $primary-color;
					font-size: 14px;
					line-height: 23px;
					color: #fff;
					font-weight: bold;
					vertical-align: top;
					margin-top: 5px;
				}
			}
		}
	}

	.trailer-main-title {
		font-size: rem-calc(24);
	}
}

.speech-box {
	text-align: left;
	margin-bottom: rem-calc(34);

	.speech-box-header {
		color: $primary-color;
		font-size: rem-calc(22px);
		vertical-align: middle;
		padding-left: 80px;
		background-position: left center;
		line-height: 61px;
		background-size: 61px 61px;
		background-repeat: no-repeat;
		margin-bottom: rem-calc(22);
	}

	.speech-box-content {
		font-family: 'Merriweather', sans-serif;
		background-color: #fff;
		padding: rem-calc(22 18);
		position: relative;
		color: $primary-color;
		font-size: rem-calc(15);
		border-radius: 4px;

		&::after {
			content: "";
			position: absolute;
			border-style: solid;
			/* reduce the damage in FF3.0 */
			display: block;
			width: 0;
			top: -10px; /* value = - border-top-width - border-bottom-width */
			left: 18px; /* controls horizontal position */
			bottom: auto;
			right: auto;
			border-width: 0 10px 10px; /* vary these values to change the angle of the vertex */
			border-color: #fff transparent;
		}
	}

	&.is-panoview {
		width: 310px;
		margin: 0 auto;
		margin-top: 3em;

		.speech-box-content {
			&::after {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	&.seatings {
		.speech-box-header {
			background-image: url('../images/seating.svg');
		}
		.speech-box-content {
			font-size: rem-calc(30);
			letter-spacing: .3px;
		}
	}

	&.equipment {
		.speech-box-header {
			background-image: url('../images/equipment.svg');
		}
		.speech-box-content {
			//font-size: rem-calc(30);
			//letter-spacing: .3px;
		}
	}

	&.suitability {
		.speech-box-header {
			background-image: url('../images/suitability.svg');
		}
	}

	.speech-box-icon {
		display: inline-block;
		margin-right: 15px;
		vertical-align: top;

		&.is-360 {
			background-image: url('../images/360grad-icon.svg');
			width: 79px;
			height: 41px;
		}
	}
}

.equipment-icons {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	.icon {
		width: 50px;
		height: 50px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		margin-top: rem-calc(30);

		&.invisible {
			display: none;
		}

		$icons: wifi, video, navi, drinks, music, climatic, navi, infotainment, wheelchair, toilett;

		@each $icon in $icons {
			&.#{$icon} {
				background-image: url('../images/equipment/#{$icon}.svg');
			}

			&.infotainment {
				height: 213px;
				background-size: cover;
				width: 100%;
				max-width: 244px;
				order: 10;
				margin: 40px auto;
			}
		}
	}
}
