#page-full-width-wide {
	margin-top: 3em;
}

.safty-images {
	.fl-photo-content {
		@each $size, $gutter in $grid-column-gutter {
			@include breakpoint($size) {
				margin-bottom: $gutter;
			}
		}
	}
}

.callback {
	input {
		margin-bottom: rem-calc(7);
	}

	label.middle {
		margin-bottom: rem-calc(7);
	}
}