#single-vehicle {
	@include grid-row();

	.main-content {
		@include grid-col(12);
		margin-top: 5em;

		.entry-title {
			margin-bottom: 2em;
		}

		.row {
			@include grid-row-nest();
		}

		.speech-box-content {
			background-color: #F1F1F1;

			&:after {
				border-color: #F1F1F1 transparent;
			}
		}
	}
}