<ul class="accordion" data-accordion>
    <li class="accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title">Persönliche Daten</a>
        <div class="accordion-content" data-tab-content>
            <label for="">Vor- und Nachname [text* your-name]</label> <label for="">Email [email* email]</label> <label
                for="">Telefonnummer [tel tel]</label> <label for="">Telefonnummer [tel fax]</label> <label for="">Firma
            [text company]</label> <label for="">Straße [text* street]</label>
            <div class="row">
                <div class="medium-6 columns">
                    <label for=""> Postleitzahl [text* zip]</label>
                </div>
                <div class="medium-6 columns">
                    <label for=""> Ort [text* city]</label>
                </div>
            </div>
        </div>
    </li>
    <li class="accordion-item" data-accordion-item="">
        <a href="#" class="accordion-title">Details</a>
        <div class="accordion-content" data-tab-content="">
            <label>Anhänger: [dynamicselect trailer class:trailer "trailer"]</label>
            <div class="row">
                <div class="medium-4 columns">
                    <label>Personenzahl: [text* persons]</label>
                </div>
                <div class="medium-4 columns">
                    [checkbox bus-at-place label_first use_label_element "Bus vor Ort "]
                </div>
                <div class="medium-4 columns">
                    [checkbox persons label_first use_label_element "Reiseführer "]
                </div>
            </div>
            <div class="row">
                <div class="small-6 columns">
                    <label>Hinfahrt am: [date* hinfahrt-date]</label>
                </div>
                <div class="small-6 columns">
                    <label>Um: [text hinfahrt-time]</label>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <label>Von: [text* from "Von"]</label>
                </div>
                <div class="medium-6 columns">
                    <label>Nach: [text* to "Nach"]</label>
                </div>
            </div>
            <div class="row">
                <div class="small-6 columns">
                    <label>Rückfahrt am: [date* return-date]</label>
                </div>
                <div class="small-6 columns">
                    <label>Um: [text return-time]</label>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <label>Von: [text* return-from "Von"]</label>
                </div>
                <div class="medium-6 columns">
                    <label>Nach: [text* return-to "Nach"]</label>
                </div>
            </div>
            <label>[textarea specials "Besondere Wünsche:"]</label>
        </div>
    </li>
    <li class="accordion-item" data-accordion-item="">
        <a href="#" class="accordion-title">Anfrage Senden</a>
        <div class="accordion-content" data-tab-content="">
            <label>Wie haben Sie uns gefunden? [select menu-found "Internet" "Branchenbuch" "Fahrzeug gesehen"
                "Empfehlung" "Bestandskunde" "unbekannt"]</label>
            <fieldset>
                <legend>Dürfen wir zukünftig unseren Newsletter (max. 4 im Jahr) an Sie versenden?</legend>
                [checkbox newsletter-cb "okay"]
            </fieldset>
            <div>[submit "Senden"]</div>
        </div>
    </li>
</ul>