
.fl-row-content.fl-row-fixed-width {

	//.fl-col-group {
	//  @include grid-row($behavior: nest);
	//}

	.fl-col {
		@each $breakpoint, $gutter in $grid-column-gutter {
			@include breakpoint($breakpoint) {
				padding: 0 rem-calc($gutter /2);
			}
		}

		.row {
			@include grid-row($behavior: nest);
			max-width: none;
		}
	}

	.fl-col-group-nested {
		@each $breakpoint, $gutter in $grid-column-gutter {
			@include breakpoint($breakpoint) {
				margin: 0 rem-calc($gutter /2) * -1;
			}
		}
	}

	@media (max-width: 768px) {
		.fl-col-small {
			max-width: 100%;
		}
	}
}
