.c-text {

}

.c-text--enter {
	color: #fff;
	font-family: $header-font-family;
	text-align: center;
	max-width: 660px;
	margin: 0 auto;


	h1 {
		font-size: 76px;
	}

	p {
		font-family: $header-font-family;
		font-weight: bold;
		margin-bottom: 30px;
		color: #484848;
	}

	img {
		max-width: 470px;
		width: 100%;
		margin: 33px 0 40px 0;
	}

	hr {
		border: 2px solid;
		border-color: #fff;
		width: 110px;
		margin-bottom: 60px;
	}
}