@mixin parallax($height: 350px,$parallax-bg-position:  50% -100px) {
	color: #fff;
	background-attachment: fixed;
	background-size: cover;
	background-position: $parallax-bg-position;
	height: $height;
	will-change: background-position;

	@include breakpoint(small only) {
		background-size: 300%;
	}

	.fl-row-content-wrap {
		height: 100%;
		background: linear-gradient(to right, #94c558, rgba(65, 147, 33, 0.0));
		position: relative;
	}

	//.fl-row-content {
	//  position: relative;
	//}
	//
	//.parallax-content {
	//  position: absolute;
	//  top: 0;
	//
	//  .fl-module {
	//    height: 100%;
	//    line-height: $height;
	//  }
	//}
}
