
.switch {
	display: inline-block;
	border: 2px solid map_get($foundation-palette, secondary);
	border-radius: 40px;
	position: relative;
	width: 92px;
	height: 28px;
	font-weight: bold;

	.text {
		@include clearfix;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}

	a {
		text-align: center;
		width: 44px;
		display: block;
		float: left;
		font-size: rem-calc(14px);
		text-transform: uppercase;
		line-height: 24px;
		color: map_get($foundation-palette, secondary);
		transition: .3s;

		&:first-child {
			color: #fff;
		}
	}

	.pill {
		position: absolute;
		left: -1px;
		top: 0;
		display: block;
		content: '';
		background-color: map_get($foundation-palette, secondary);
		border-radius: 40px;
		height: 100%;
		width: 46px;
		transition: .3s;
		z-index: 1;
	}

	&.active {
		.pill {
			left: 44px;
		}

		a:first-child {
			color: map_get($foundation-palette, secondary);
		}

		a:last-child {
			color: #fff;
		}
	}
}