
.fl-row-content.fl-row-fixed-width {

	.fl-col-group .fl-col-group {
	  @include grid-row($behavior: nest);
	}

	.fl-col {
		@each $breakpoint, $gutter in $grid-column-gutter {
			@include breakpoint($breakpoint) {
				padding: 0 rem-calc($gutter /2);
			}
		}

		.row {
			@include grid-row($behavior: nest);
			max-width: none;
		}
	}
}