section.intro {

	.inquiry-section {
		@include parallax();

		h2 {
			font-size: rem-calc(30);
			display: inline-block;
			vertical-align: middle;
			line-height: normal;
			margin-top: rem-calc(70);

			@include breakpoint(medium) {
				font-size: rem-calc(56);
			}
		}

		.inquiry {
			text-align: right;

			a {
				display: inline-block;
				padding: rem-calc(10 18);
				font-size: rem-calc(20);
				font-weight: bolder;
				color: #fff;
				background-image: linear-gradient(to right, #ff9700, rgba(254, 152, 1, 0.8));
			}
		}
	}

	.news-section {
		a {
			@include round-button;
			margin-top: rem-calc(20);
		}

		@import "../modules/news";
	}

	.bus-section {
		h2.heading {
			font-size: rem-calc(30);

			@include breakpoint(medium) {
				font-size: rem-calc(45);
			}
		}

		.slider-fade-title h3 {
			background-image: linear-gradient(to right, #94c558, rgba(148, 197, 88, 0.5));
			margin: 0;
			display: block;
			padding: rem-calc(8 23);
			font-size: rem-calc(24);
		}
	}

	.booking-section {
		@include parallax(520px, 50% 500px);

		h2 {
			font-size: rem-calc(20);
			display: inline-block;
			vertical-align: middle;
			line-height: normal;

			@include breakpoint(medium) {
				font-size: rem-calc(56);
			}
		}

		.button {
			@include round-button($background: #fff, $color: #94c558, $background-hover: #484848);
			font-size: rem-calc(19);
			margin-top: rem-calc(30);

			&:hover {
				color: #fff;
			}
		}
	}
}

.fl-callout {
	@include breakpoint(small only) {
		margin-bottom: rem-calc(30);
		.fl-photo-img {
			max-width: 200px;
		}
	}
}
