#page {
	@include grid-row();
	margin-top: 3rem;

	.main-content {
		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column(8);
		}
	}
}

.main-content {
	.entry-title {
		font-size: rem-calc(56);
		margin-bottom: rem-calc(69);
		text-align: center;

		@include breakpoint(small only) {
			font-size: 30px;
			margin-bottom: 15px;
		}
	}
}
