#page-full-width {
	@include grid-row();
	margin-top: 3rem;

	.main-content {
		@include breakpoint(small) {
			@include grid-column(12);
		}
		.entry-content {
			h2 {
				font-size: rem-calc(24px);
			}
		}
	}
}

.page-id-10 {
	.entry-content {
		hr {
			margin: rem-calc(24 0 32 0);
		}
	}
}
