#single-vehicle {
	@include grid-row();

	.main-content {
		@include grid-col(12);
		margin-top: 5em;

		.entry-title {
			margin-bottom: 2em;
		}

		img {
			width: 100%;
		}

		.row {
			@include grid-row-nest();
		}

		.speech-box-content {
			background-color: #F1F1F1;

			&:after {
				border-color: #F1F1F1 transparent;
			}
		}
	}
}

.single-vehicle-navigation {
	margin-top: rem-calc(60px);
	padding: 20px 0;
}