.b-disturber {
	position: absolute;
	top: 50px;
	right: 50px;
	width: 196px;
	height: 196px;
	background: url('../images/passenger-award-logo-enterpage.png') no-repeat;
	display: none;

	@include breakpoint(large) {
		display: block;
	}
}