.blogpost-entry {
	header {
		margin-bottom: rem-calc(14);

		h2 {
			font-size: rem-calc(24);
			margin-bottom: 5px;
			a {
				color: #484848;
			}
		}

		time {
			font-size: rem-calc(14);
		}
	}

	p {
		color: #484848;
	}
}