.catering-section-title {
	h1 {
		font-size: rem-calc(56);

		@include breakpoint(small only) {
			font-size: rem-calc(30);
		}
	}
}

.catering-item {
	color: #fff;
	text-align: center;
	margin-bottom: rem-calc(100);

	img {
		max-width: 312px;
	}

	p {
		font-family: $header-font-family;
		font-size: rem-calc(20);

	}

	.fl-rich-text {
		max-width: 255px;
		margin: rem-calc(34) auto;
	}
}

.catering-form-title h4.primary {
	color: $body-font-color;
}

.catering-form {
	padding: rem-calc(20);

	@include breakpoint(medium) {
		padding: rem-calc(67 96);
	}

	p {
		@include form-label;
		font-family: $input-font-family;
	}

	div.agb-row {
		margin: rem-calc(32 0 58 0);
		//display: block;
	}
}
