#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	margin-top: rem-calc(60);
	background: #dddddd;

	section#before-footer {
		@include grid-row();
		padding: rem-calc(50) 0;

		.widget {
			text-align: center;
			color: #fff;
			font-family: 'Merriweather', sans-serif;
			line-height: 1.8;

			.round-button-w {
				@include round-button($background: #fff, $color: #484848, $background-hover: #484848);
				font-size: rem-calc(14);
				padding: rem-calc(7 10);
				margin-top: rem-calc(10);

				&:hover, &:focus {
					color: #fff
				}
			}

			h6 {
				color: #0a0a0a;
				text-align: center;
				font-size: rem-calc(24);
			}

			.flex-video {
				padding-bottom: 68%;
			}
		}

		.null-instagram-feed {
			.clear a {
				@include round-button($background: #fff, $color: #484848, $background-hover: #484848);
				font-size: rem-calc(14);
				padding: rem-calc(7 10);
				margin-top: rem-calc(10);

				&:hover, &:focus {
					color: #fff;
				}
			}
		}
	}
}

#bottom-footer-container {

	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	background-color: #868585;

	#footer {
		@include grid-row();
		padding: rem-calc(40) 0;
		text-align: center;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		.footer-nav {
			display: inline-block;
			@include breakpoint(medium) {
				margin-top: rem-calc(40);
				@include menu-base;
			}
			font-size: rem-calc(18);

			a {
				color: #fff;
			}
		}

	}
}

.sm-icons {
	//display: inline-block;
	text-align: center;

	li {
		display: inline-block;
		margin: rem-calc(0 12);
		position: relative;

		a {
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
		}
	}

	.fa {
		color: #dcf0c3;
		background-color: map_get($foundation-palette, primary);
		text-align: center;
		line-height: 35px;
		width: 35px;
		height: 35px;
		font-size: 20px;
		border-radius: 20px;
	}
}

.footer-text {
	margin-top: .5em;
	font-family: $header-font-family;
	color: #fff;
	font-size: rem-calc(12);
}

.facebook {
	margin-bottom: 1.06667rem;
	.header {
		display: flex;
		justify-content: space-between;
		background-color: #fff;
		color: #3b5998;
		font-family: $header-font-family;
		font-size: rem-calc(15);
		text-align: left;
		padding: rem-calc(19);
		line-height: 1.5;

		.widget-logo {
			background: url('../images/facebook-logo.svg');
			width: 42px;
			height: 42px;
		}
	}

	.widget-image {
		background: url('../images/facebook-image.png');
		width: 100%;
		height: 169px;
	}
}
