$instagram-gutter: (small: 16, large: 16);

.instagram-pics {
	@include grid-row($behavior: nest);
	list-style: none;
	margin-bottom: 0;

	li {
		@include grid-col($columns: 4, $gutter: $instagram-gutter);
		@each $size, $gutter in $instagram-gutter {
			@include breakpoint($size) {
				padding-bottom: rem-calc($gutter);
			}
		}

		img {
			border-radius: 2px;
		}
	}
}