.author-module {
	padding: rem-calc(25 30);
	background-color: #f9f9f9;
	border-radius: 2px;
	margin-bottom: rem-calc(45);
	text-align: center;

	@include breakpoint(medium) {
		text-align: left;
	}

	.author-header {
		@include breakpoint(medium) {
			display: flex;
		}
	}

	.author-image {
		img {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			object-fit: cover;
		}

		@include breakpoint(medium) {
			margin-right: rem-calc(30);
		}
	}

	.author-first-row {
		display: flex;

		.lang-icons {
			img {
				display: none;

				@include breakpoint(medium) {
					display: inline-block;
					width: 32px;
					height: 32px;
				}
			}
		}
	}

	.author-text {

		.author-name {
			font-size: rem-calc(24);
			margin-bottom: 0;

			@include breakpoint(medium) {
				margin-right: rem-calc(30);
			}
		}

		.author-position {
			color: #9b9b9b;
			font-size: rem-calc(14);
		}

		.author-csv {
			background: url('../images/busines-card.svg') left center no-repeat;
			padding-left: 33px;
			font-size: rem-calc(14);
			color: $primary-color;
			margin-top: rem-calc(12);

		}
	}

	.author-biography {
		margin-top: rem-calc(16);

		.author-csv {
			.a-icon {
				margin-bottom: 1rem;
				font-size: rem-calc(14);
				line-height: rem-calc(18);

				.fa {
					margin-right: rem-calc(16);
					color: $primary-color;
					font-size: rem-calc(18);
				}
			}

			a {
				color: $body-font-color;
			}
		}
	}

	.qr-wrapper {
		display: flex;
		align-items: center;

		.qr-image {
			background-color: $primary-color;

			img {
				width: 59px;
				height: 59px;
				margin: 10px;
			}
		}

		.qr-text {
			font-size: rem-calc(18);
			text-align: center;
			margin-left: rem-calc(10);
		}
	}
}
